## Python
*.pyc
*.pyo
*.pyd
*.egg-info
.coverage
.tox

## Virtual environment
.venv/

## skp video in src, except background.mp4 (as example)
src/*.mp4
!src/background.mp4

## Flask or FastAPI application
.env
